#About{
    width: 100%;
    position: relative;
}

.about_inner {
    width: 100%;
    height: 100vh;
}

.about_title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 48%;
    height: 6vw;
    font-size: 4vw;
    font-weight: 900;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black);
    border-bottom: .4vw solid var(--black);
    z-index: 9999;
    padding-left: 20px;
}



.about_desc {
    width: 60%;
}

.about_item{
    position: absolute;
    cursor: pointer;
}

.license ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about_item img{
    width: 80%;
}



@media screen and (max-width:768px) {
  
    .about_title {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
        font-size: 30px;
        top: -30px;
    }

    .about_desc {
        width: 100%;
    }

    .about_desc::before{
        display: none;
    }

    .about_item img{
        width: 60%;
    }


   
}
