#About {
    width: 100%;
    position: relative;
}


#About img {
    width: 100%;
}


.about_title {
    position: sticky;
    top: 50px;
    left: 0;
    width: 100%;
    height: 6vw;
    font-size: 4vw;
    font-weight: 900;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black);
    background: #f3f3f3;
    border-bottom: .4vw solid var(--black);
    padding-left: 20px;
    z-index: 2;
}

/* about */

.about_inner {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.wrap1 img {
    width: 100%;
}

.about-tx {
    font-size: 3vw;
    font-style: bold;
}

ul.symbol li{
    position: absolute;
}

.se1{
    width:15%;
    left: 20%;
    bottom: 13%;
}

.se2{
    width: 50%;
    left: 500px;
    top: 100px;
}

.se3{
    width: 1%;
    right: 29%;
    bottom: 39%;
    z-index: 9999;
}


.skills h3{
    text-transform: uppercase;
    font-size: 2.5vw;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

ul.skill-list li{
   position: relative;
}

.license{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%;
}

.license ul li{
    font-size: 2vw;
}


/* aboutme */

#AboutMe {
    width: 100%;
   position: relative;
}


.columns{
    width: 50%;
    height: 200vh;
}

.about-item {
    width: 100%;
    height: 100vh;
}
.item_text {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}

.wrap2{
    width: 100%;
    height: 200vh;
}

.wr1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg1{
    background-image: url(../../imgs/나나나.jpg);
    background-size: contain;
    background-position: left center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width:50vw;
    height: 200vh;
}


.a1{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    background-color: var(--subBg300);
    border-radius: 20px;
    font-size: 30px;
}


.a2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.about-wrapper ul li {
    position: absolute;
    text-transform: uppercase;
    font-size: 40px;
    font-style: bolder;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.intro1{
    width: 50%;
}

@media screen and (max-width:768px) {
    
}