.graphics_inner {
    width: 100%;
    height: 100%;
    padding: 16px;
}


.graph_title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 100%;
    height: 6vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.2;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--white);
    border-bottom: .4vw solid var(--white);
    margin-bottom: 100px;
}

.stage {
    width: 80%;
    margin: auto;
}

.stage img {
    width: 100%;
    transition: .35s;
}

.stage .inner ul {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.img_box{
    position: relative;
    overflow: hidden;
    transition: .35s;
}

.img_box::before{
    position: absolute;   
    content: '';
    width: 0%;
    height:100%;
    background-color: var(--point);
    left: 0;
    top: 0;
    z-index: 2;
    transition: .35s;
    transition-delay: .35s;
}

.img_box::after{
    position: absolute;   
    content: '';
    width: 100%;
    height:0%;
    background-color: #13213C;
    left: 0;
    top: 0;
    z-index: 2;
    transition: .35s;
    z-index: 3;
}

.img_box.active::before{
    width: 100%;
}
.img_box.active::after{
    height: 100%;
}

.graphics_wrap .stage .img_text {
    width: 40%;
}

.graphics_wrap .stage .img_text p {
    line-height: 1.6px;
    color: var(--white);
}

.img_text{
    position: relative;
    top:-250px;
    opacity: 1;
    transition: .4s;
}

.img_text.active{
    opacity: 0;
    top: -200px;
}


@media screen and (max-width:768px) {

    .graphics_inner .inner ul{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    .graphics_inner .inner ul li{
        width: 30%;
    }
    .graph_title{
        width: 100%;
        margin-bottom: 16px;
        font-size: 30px;
        height: auto;
        top: -30px;
    }
    .img_text{
        position: relative;
        right: -120px;
        top: -100px;
        opacity: 0;
        transition: .4s;
    }
    
    .img_text.active{
        opacity: 1;
        top: -50px;
    }
    
}