#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(85, 57, 57, 0.1);
    backdrop-filter: blur(15px);
    padding: 1rem;
}

.header_logo {
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
}

.header_logo em {
    font-size: 10px;
    display: block;
    color: var(--black200);
}

.header_nav li {
    display: inline-block;
}

.header_nav li a {
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
    position: relative;
    display: block;
}

.header_nav li a::before {
    content: '';
    width: calc(100% - 28px);
    height: 2px;
    background-color: var(--black);
    position: absolute;
    left: 14px;
    bottom: 10px;
    transform: scaleX(0);
    transition: .35s;
}

.header_nav li a:hover::before{
    transform: scaleX(1);
}

.header_nav_mobile {
    cursor: pointer;
    display: none;
}

.header_nav_mobile span{
    display: block;
    width: 40px;
    height: 3px;
    background-color: var(--black);
    margin-top: 0;
    position: relative;
}
.header_nav_mobile span::before{
    content: '';
    width: 40px;
    height: 3px;
    background-color: var(--black);
    top: 10px;
    right: 0;
    position: absolute;
    transition: .35s;
}
.header_nav_mobile span::after{
    content: '';
    width: 40px;
    height: 3px;
    background-color: var(--black);
    bottom: 10px;
    left: 0;
    position: absolute;
    transition: .35s;
}

/* --------------------------------- */

@media screen and (max-width:768px) {
    .header_nav{
        position: absolute;
        right:-143px;
        top: 0;
        text-align: right;
        transition: .35s;
    }
    .header_nav ul{
        position: absolute;
        right: 0;
        top: 68px;
        z-index: 100;
        background-color: rgb(216, 216, 216);
        padding: 0 20px;
    }
    .header_nav.show{
        right: 0;
    }
    .header_nav_mobile{
        display: block;
    }

    .header_nav.show+.header_nav_mobile span::before{
        width: 20px;
    }
    .header_nav.show+.header_nav_mobile span::after{
        width: 20px;
    }
}