.pj_inner {
    padding: 16px;
    background-color: var(--point);
    border-radius: 30px;
}


.pj_title {
    position: sticky;
    top: 10%;
    left: 5%;
    width: 50%;
    height: 6vw;
    font-size: 6vw;
    font-weight: 900;
    line-height: 1.2;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 200px;
}

.pj_item {
    position: sticky;
    width: 50%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 20px;
    left: 50%;
    background-color: #EDF0F5;
    color: var(--black);
}

.pj_item .num {
    font-size: 5vw;
    font-weight: 900;
    font-family: var(--mainNum-font);
    position: absolute;
    left: 1vw;
    top: 1vw;
}

.pj_item .text {
    text-align: center;
    margin-bottom: 1rem;
}

.pj_item .text div {
    font-size: 3vw;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: var(--mainEng-font);
}


.pj_item .title {
    font-family: var(--mainKor-font);
    margin-bottom: 1rem;
}

.pj_item .btn {
    display: flex;
    gap: 2vw;
    transform: uppercase;
    font-size: 1rem;
    transition: .35s;
}

.pj_item .btn a:hover {
    color: var(--point);
}

.pj_item .info {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 98%;
    margin-left: 1%;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
}

.pj_item .info span {
    font-family: var(--mainKor-font);
    font-size: 12px;
    padding: 5px 0;
    text-transform: uppercase;
}

a.arrow:hover img{
    transform: scale(1.1) rotate(-15deg);
}

/* --------------------------------------- */

@media screen and (max-width:768px) {
    .pj_title {
        width: 100%;
        margin-bottom: 10vw;
        font-size: 50px;
        height: auto;
        margin-left: 30px;
        top: 200px;
        z-index: 9999;
    }

    .pj_item{
        border: 1px solid #e0e0e0;
    }
    
    .pj_item.s1{top: 10px;}
    .pj_item.s2{top: 100px;}
    .pj_item.s3{top: 200px;}

    .pj_item .num{
        font-size: 40px;
        left: 20px;
        top: 20px;
    }
    .pj_item .text div{
        font-size: 20px;
    }
    .pj_item .info{
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        padding: 5px;
    }
}