.pj_inner {
    padding: 16px;
}

.pj_title {
    position: sticky;
    top: 70px;
    left: 0;
    width: 100%;
    height: 6vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.2;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--white);
    border-bottom: .4vw solid var(--white);
    margin-bottom: 100px;
}

.pj_item {
    position: sticky;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 0;
    flex-direction: column;
    border-radius: 20px;
}

.pj_item.s1 {
    background-color: #EDF0F5;
    color: var(--black);
    top: 200px;
}

.pj_item.s2 {
    background-color: #BAD6EB;
    color: var(--black);
    top: 250px;
}

.pj_item.s3 {
    background-color: #A3C5F2;
    color: var(--black);
    top: 300px;
}

.pj_item.s4 {
    background-color: #6F96D1;
    color: var(--black);
    top: 350px;
}

.pj_item .num {
    font-size: 5vw;
    font-weight: 900;
    font-family: var(--mainNum-font);
    position: absolute;
    left: 1vw;
    top: 1vw;
}

.pj_item .text {
    text-align: center;
    margin-bottom: 1rem;
}

.pj_item .text div {
    font-size: 3vw;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: var(--mainEng-font);
}


.pj_item .title {
    font-family: var(--mainKor-font);
    margin-bottom: 1rem;
}

.pj_item .btn {
    display: flex;
    gap: 2vw;
    transform: uppercase;
    font-size: 1rem;
    transition: .35s;
}

.pj_item .btn a:hover {
    color: var(--point);
}

.pj_item .info {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 98%;
    margin-left: 1%;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
}

.pj_item .info span {
    font-family: var(--mainKor-font);
    font-size: 12px;
    padding: 5px 0;
    text-transform: uppercase;
}

/* --------------------------------------- */

@media screen and (max-width:768px) {
    .pj_title {
        width: 100%;
        margin-bottom: 10vw;
        font-size: 30px;
        height: auto;
        top: 30px;
        z-index: 9999;
    }
    .pj_item.s1{top: 140px;}
    .pj_item.s2{top: 180px;}
    .pj_item.s3{top: 220px;}
    .pj_item.s4{top: 260px;}

    .pj_item .num{
        font-size: 50px;
        left: 20px;
        top: 20px;
    }
    .pj_item .text div{
        font-size: 26px;
    }
    .pj_item .info{
        flex-direction: column;
        width: 90%;
        margin-left: 5%;
        padding: 5px;
    }
}