.i_am {
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    gap: 5vw;
}



.splide {
    width: 100%;
}

.splide__track-1 ul{
    display: flex;
    position: relative;
}

.splide__track{
    display: flex;
    align-items: center;
    justify-content: center;
}
